@import "tailwindcss";
@layer theme, base, components, utilities;

@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

@theme {
  --color-primary: oklch(50.88% 0.234 328.363);
  --color-primary-light: oklch(56.24% 0.258 328.36);
  --color-primary-dark: oklch(32.81% 0.151 328.36);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
